<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/main.css")
        script(src="/index.js")
        title
            if page_title
                | #{page_title} - Totoz.eu
            else
                | Totoz.eu

    body(id=body_id)
        div(class='links')
            h1
                a(href='/')
                    img(src="/img/totoz", alt="")
                    img.nohover(src="/logo.png", alt="",height=70)
                    img.hover(src="/logo-hover.png", alt="",height=70)
            span(class='spc')
            if sfw
                a(href=nsfw_url,class='sfw_status sfw')
                    span(class='nohover') SFW
                    span(class='hover') Go to NSFW
            else
                a(href=sfw_url,class='sfw_status nsfw')
                    span(class='nohover') NSFW
                    span(class='hover') Go to SFW
            if user
                a(href='/create_totoz') Create a Totoz
                a(href="/user/"+user.name)= user.name
            else
                a(href='/new_account') Create an Account
                a(href='/login') Log in

        div(id='cnt')
            div(class='info large-font')
                strong Welcome
                |  to the all new Totoz.eu. If you have any problems, questions or
                |  want to talk about the site, you can contact us on the&nbsp;
                a(href="https://miaoli.im/tribune/totoz.eu") tribune
                |  or file an&nbsp;
                a(href="https://github.com/n-e/totoz.eu/issues") issue
                |  on GitHub.
            block content

        div(class='about')
            =' Contact | '
            a(href="https://github.com/n-e/totoz.eu") Github

