p Showing #{results_info.shown} of #{results_info.count}
    if results_info.shown != results_info.count
        = ' '
        a(href=results_info.showall_url) Show all

div(class='totoz_list')
    each t in totozes
        div(class='totoz')
            span(class='name') [:!{t.hiName}]
            a(class='img',href=t.detailsUrl)
                if t.nsfw=='0' || !sfw
                    img(src="/"+t.lcName+".gif")
                else
                    div(class='nsfw_img') NSFW
            a(class='username',href='/user/' + t.user_name)= t.user_name
            if t.hiTags.length > 0
                span(class='tags')
                    each tag in t.hiTags
                        span !{tag}
                        = ' '